<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>AstroStack</string>
	<key>CFBundleExecutable</key>
	<string>AstroStack</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.juliomorales.AstroStack</string>
	<key>CFBundleName</key>
	<string>AstroStack</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>AstroStack needs access to Mail to scan arXiv alert emails.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
